.border{
  border-color: grey;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
}
.map{
  height: -webkit-fill-available;
  position: absolute;
  width: -webkit-fill-available;
}
.center{
  text-align: center;
}